# ==============================
# Build dir
# ==============================
build/

# ==============================
# Data dir
# ==============================
data/

# ==============================
# Cache
# ==============================
.docker-build-cache
